﻿@model IEnumerable<Evaluacion2.Models.Instructor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Headquarters.NombreSede)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialty.nameSpecialty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreInstructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoInstructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreEspecialidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreSede)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Headquarters.NombreSede)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specialty.nameSpecialty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreInstructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoInstructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreEspecialidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreSede)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InstructorId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorId })
        </td>
    </tr>
}

</table>
